<h1 id="your-first-rails-app-on-gitlab">your first rails app on GitLab</h1>
<p>TODO: expand this into a better looking, better written guide.</p>
<h2 id="you-will-need">You will need:</h2>
<ul>
<li>rails + postgresql installed</li>
<li>text editor</li>
<li>terminal</li>
<li>gitlab.com account</li>
<li><p>heroku.com account</p></li>
<li>To install rails, follow the instructions at <a href="https://rubyonrails.org" class="uri">https://rubyonrails.org</a></li>
<li><p>To install postgresql, use your OS package manager</p></li>
</ul>
<h2 id="getting-started">Getting started</h2>
<ul>
<li>Make a new rails app: <code>rails _5.0.1_ new foo</code></li>
<li>Add a view to the application controller:</li>
<li>modify <code>app/controller/application_controller.rb</code></li>
<li>add the following code:
<pre>
 def hello
   render html: "Hello World".html_safe
 end</pre></li>
<li>now make this the default route for your app:</li>
<li>modify <code>config/routes.rb</code></li>
<li>add the following line:
<pre>
  root 'application#hello'
 </pre></li>
<li>finally, modify the list of required packages to support postgres</li>
<li>modify <code>Gemfile</code></li>
<li>replace this line:
<pre>
 require 'sqlite3'
 </pre>
with
<pre>
 require 'pg'
 </pre></li>
<li>and modify <code>config/database.yml</code> and replace all the references to <code>sqlite3</code> with <code>pg</code> and change the database names from <code>db/database-foo</code> to <code>my-foo-database</code> (ie. <code>db/database-test</code> becomes <code>my-test-database</code>)</li>
<li>Okay, run <code>bundle install</code> to make sure this all works locally.</li>
</ul>
